*{
padding: 0;
margin:0;
box-sizing: border-box;
}
body{
    margin: 0 auto;
}
h1,h2{
text-align: center;
}
#container-quizz{
border: 1px solid black;
border-radius: 8px;
padding-bottom: 35px;
margin: 0 15px;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.score-text{
 font-size: 110%;
 padding: 15px;
 text-align: right;
}

#welcome, #finish{
text-align: center;
margin-top: 35px;
margin-bottom: 35px;
}

#start{
    margin-top: 35px;
    padding: 8px 20px;
}


#question{
 text-align: center;
}
.question-text{
 margin-bottom: 35px;
 margin-top: 35px;
}
.answer{
background-color: #CDCDCD;
padding: 15px;
margin: 3px;
border-radius: 5px;
width: 70%;
max-width: 500px;
}

.txt--green{
color: green;
padding-left: 25px;
font-weight: bold;
font-size: 25px;
}
.correct{
 /*color: green;*/
 font-weight: bold;
 background-color: green;
}
.wrong{
 /*color: red;*/
 font-weight: bold;
 background-color: red;
}

#final-score{
 font-size: 130%;
 font-weight: bold;
 color: green;
}