@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

/** Title **/

.whats {
    color: green;
}

.the {
    color: white;
}

.craic {
    color: orange;
}

/** main page **/

#gaming-area {
    height: 600px;
}

#trivia {
    padding-top: 50px;       
}

#translate {
    padding-top: 50px;        
}

.trivia-heading {        
    clear: both;
    margin-bottom: 50px;
    line-height: 30px;
}

.translate-heading {        
    clear: both;
    margin-bottom: 50px;
    line-height: 30px;
}

.shamrock {    
    width: 700px;
    height: 600px;
    padding: 30px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 20px;    
    background-image: url(../images/Shamrock.jpg);
    background-repeat: no-repeat;
    padding-top: 50px;
}

